<div class="dome-dash-container">
  <div class="game-container" *ngIf="gameStarted && !gameOver">
    <div class="order-container">
      <h1>Dome Dash!</h1>
      dome dash
      completed orders: {{ completedOrders - 1 }} and
      failed orders: {{ getMissedOrders() }}
      <div *ngIf="dogOrdering">
        <h1> BARK I AM A ROBODOG GIVE ME A BONE!! </h1> {{ dogTime }}
      </div>
      <div *ngFor="let order of orders">
        <div *ngIf="!order.expired && !order.completed">
          <h3>
            I want a... {{ order.base }} with {{ order.sauce }} and {{ order.spice }}
            {{  (order.time - now) / 1000 }}
            <button (click)="serveDish(order)">serve</button>
          </h3>
        </div>
      </div>
    </div>
    <div class="staging">
      <h4>
        {{ stage.base || '---' }}
        {{ stage.sauce || '---' }}
        {{ stage.spice || '---' }}
      </h4>
    </div>
    <div class="work-space">
      <div>
        Bases:
        <span *ngFor="let base of bases">
          <button (click)="toggleIngredient('base', base)"> {{ base }} </button>
        </span>
      </div>
      <div>
        Sauces: 
        <span *ngFor="let sauce of sauces">
          <button (click)="toggleIngredient('sauce', sauce)"> {{ sauce }} </button>
        </span>
      </div>
      <div>
        Spices:
        <span *ngFor="let spice of spices">
          <button (click)="toggleIngredient('spice', spice)"> {{ spice }} </button>
        </span>
      </div>
      <div>
        <button (click)="giveBone()"> BONE </button>
      </div>
    </div>
  </div>
  <div *ngIf="!gameStarted">
    <h1> Play Dome Dash!! </h1>
  </div>
  <button *ngIf="!gameStarted" (click)="startGame()"> start game </button>
  <div *ngIf="gameOver">
    GAME OVER!
    You fed {{ completedOrders - 1 }} dome dwellers
  </div>
</div>